body {
	font-family: 'Roboto Slab', serif;
}

.section-head {
	margin-top: 10px;
	background: #F36B6B;
	color: #FFFFFF;
	height: 100px;
	margin-bottom: 10px;
}

.section-head h1 {
	text-align: center;
	padding-top: 25px;
}

.section-menu p {
	text-align: center;
}

.section-menu a {
	color: #000000;
}

.section-input {
	margin-top: 10px;
}

.section-input h4, p {
	text-align: center;
}

.section-output {
	margin-top: 20px;
	padding-top: 10px;
}


.section-output .center-img {
	display: block;
	margin-left: auto;
    margin-right: auto;
}

.thumbnail {
	text-align: center;
}

.thumbnail img {
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
}

.thumbnail img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* Terminal Window Styling - RB */

.terminal-window {
  text-align: left;
  width: 600px;
  height: 250px;
  border-radius: 10px;
  margin: auto;
  position: relative;
}

@media screen and (max-width: 768px) {
  .terminal-window {
    text-align: left;
    width: auto;
    height: 250px;
    border-radius: 10px;
    margin: auto;
    position: relative;
  }
}


.terminal-window header {
  background: #E0E8F0;
  height: 30px;
  border-radius: 0px 0px 0 0;
  padding-left: 10px;
}

.terminal-window header .button {
  width: 12px;
  height: 12px;
  margin: 10px 4px 0 0;
  display: inline-block;
  border-radius: 8px;
}

.terminal-window header .button.green {
  background: #3BB662;
}

.terminal-window header .button.yellow {
  background: #E5C30F;
}

.terminal-window header .button.red {
  background: #E75448;
}

.terminal-window section.terminal {
  color: white;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 13px;
  background: #30353A;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 30px;
  bottom: 0;
  overflow: auto;
}

.terminal-window section.terminal .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.terminal-data { display: inline; }
.terminal-window .gray { color: gray; }
.terminal-window .green { color: green;}

/* Terminal Window Styling - RB */

/* Special style for image as button */

.image-back {
    background: #FFF;
    border: 0px;
    cursor: pointer;
}

/* Special style for image as button */

@media screen and (max-width: 768px) {
  h1 {
    font-size: 150%;
    line-height: 1.2;
  }

  h4 {
    font-size: 100%;
    line-height: 1.2;
  }
}
