<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Demo | Remove Image Background</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Implementation of Alon Burg and Gidi Shperber's Fast AI Project Demo" />
	<meta name="keywords" content="data science in production, analytics, machine learning, big data, deployment, artifical intelligence, data integration, applications" />
	<meta name="author" content="rorodata.com" />

	<!-- /* OG Data */ -->
	<meta property="og:title" content="Demo | Remove Image Background" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://back-rm-demo.herokuapp.com" />
	<meta property="og:description" content="Implementation of Alon Burg and Gidi Shperber's Fast AI Project Demo" />

	<!-- /* Twitter Card */ -->
	<meta property="twitter:title" content="Implementation of Alon Burg and Gidi Shperber's Fast AI Project Demo" />
	<meta property="twitter:url" content="https://www.twitter.com/rorodata" />
	<meta property="twitter:description" content="Implementation of Alon Burg and Gidi Shperber's Fast AI Project Demo" />
	<meta name="twitter:card" content="Implementation of Alon Burg and Gidi Shperber's Fast AI Project Demo" />

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"> 

</head>

<body>
	<div class="container">
		<div class="row section-head">
			<div class="col-md-12">
				<h1>Background Removal API</h1>
			</div>
		</div>
		<div class="row section-menu">
			<div class="col-md-12">
				{% block menu %}
				{% endblock %}
			</div>
		</div>
	</div>

	<div class="container" style="{margin-bottom: 30px;}">
		<div class="row section-input">
			{% if message %}
				<p>{{message}}</p>
			{% endif %}
			{% block selectimage %}
			{% endblock %}
		</div>

		{% block partition %}
		{% endblock %}

		<div class="row section-input">

			<div class="col-md-12">
				{% block inputurl %}
				{% endblock %}
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row section-output">
			<div class="col-md-12">
				{% block outputs %}
				{% endblock %}
			</div>
		</div>
	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</body>

</html> 
